<div class="container">
  <div class="col">
    <h3>{{title}}</h3>
  </div>
  <hr/>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="name" class="visually-hidden">Name</label>
      <input type="text" name="name" id="name" placeholder="Name"
        class="form-control" [(ngModel)]="nameInput" >
    </div>
    <div class="col-md-6">
      <label for="lastName" class="visually-hidden">Last Name</label>
      <input type="text" name="lastName" id="lastName" placeholder="Last Name"
        class="form-control" [(ngModel)]="lastNameInput" >
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="addPerson()">Add</button>
    </div>
  </form>
  <hr/>
<app-persona
*ngFor="let personaElement of people; let i = index"
[persona] = "personaElement"
[i] = "i"
>
</app-persona>
</div>

